
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
.main{
  display: flex;

  flex-wrap: wrap;
  gap: 50px;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: 450px;
 
}
.card1{
  background-color: rgb(158, 225, 158);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: 450px;
  
}
.nav{
  background-color: blanchedalmond;
  text-align: center;
  margin: 20px;
  padding: 20px;
}